.login-register {
    height: 100vh;
    z-index: 999;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-container {
    position: relative;
    background-color: red;
    height: auto;
    padding: 20px;
}

.login-card .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    background-color: transparent;
    border: none;
    outline: none;
}

.login-card h1 {
    text-align: center;
    margin-bottom: 10px;
}

.form-box input {
    width: 100%;
    padding: 8px;
}