/* HERO-SECTION => SECTION */
.hero-section,
.newsletter-section {
  border-radius: 8px;
  background-image: linear-gradient(rgba(0, 0, 0), rgb(178, 178, 178));
  background-position: center;
  background-size: cover;
  margin: 20px 20px 20px 20px;
  padding: 30px;
}

.hero-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 100px 100px 70px 100px;
}

.hero-card h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  color: white;
  text-shadow: -1px 4px 18px rgba(255, 255, 255, 0.6);
}

.hero-card p {
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-top: 6px;
  font-size: 1.5rem;
  text-shadow: 1px 1px 2px rgba(184, 184, 184, 0.6);
}

.hero-card button {
  padding: 20px;
  margin-top: 10px;
  border-radius: 9px;
  background-color: rgb(0, 207, 0);
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.hero-card button:hover {
  box-shadow: 4px 2px 211px 18px rgba(0, 207, 0, 0.75);
  -webkit-box-shadow: 4px 2px 211px 18px rgba(0, 207, 0, 0.75);
  -moz-box-shadow: 4px 2px 211px 18px rgba(0, 207, 0, 0.75);
}

@media (max-width: 480px) {
  .hero-card {
    padding: 30% 0 15px 0;
  }
  .hero-card h1 {
    font-size: 1.7rem;
  }
  .hero-card p {
    font-size: 1.2rem;
  }
  .hero-card button {
    padding: 10px;
    font-size: 1rem;
    width: auto;
  }
}

/* FEATURE-CONTENT => SECTION */

.feature-header {
  width: 100%;
  text-align: start;
}

.feature-header h1 {
  color: white;
  font-size: 1.5rem;
  text-shadow: -1px 4px 18px rgba(255, 255, 255, 0.6);
}

.feature-header p {
  color: gray;
}

.kategory-card {
  width: 100%;
  margin-top: 20px;
}

.kategory-card ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  max-width: 600px;
}

.kategory-card ul li a {
  position: relative;
  text-decoration: none;
  color: white;
}

.kategory-card ul li a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  bottom: -6px;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.kategory-card ul li a:hover::after {
  transform: scaleX(1);
}

.kategory-card ul li .active {
  border-bottom: 3px solid white;
  font-weight: bold;
}

@media(max-width: 480px) {
  .feature-header {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .feature-header h1 {
    text-align: center;
  }
  .feature-header p {
    margin-top: 20px;
  }
  .kategory-card {
    overflow-x: scroll;
  }
  .kategory-card ul li a{
    font-size: .7rem;
    margin-left: 5px;
  }
}
/* COURSE CONTENT */

.course-content {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  gap: 30px;
}
.card {
  max-width: 600px;
  width: 100%;
  background-color: rgb(60, 60, 60);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 12px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  height: auto;
}

.card:hover {
  transform: translateY(-5px);
  -webkit-box-shadow: 4px 5px 26px 7px #ebebeb;
  box-shadow: 4px 5px 26px 7px #b5b5b5;
}

.card h3 {
  color: #ffffff;
  text-shadow: 1px 3px 22px rgba(255, 255, 255, 0.6);
}
.card p {
  color: rgb(180, 180, 180);
  margin-top: 5px;
}

.content {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.mentor-card {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 15px;
}

.rate-card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.rate-card .star {
  color: gold;
  font-size: 20px;
}

.rate-card p {
  font-weight: 700;
  color: rgb(31, 255, 31);
  font-size: 1.5rem;
}

@media(max-width: 480px) {
  .course-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
  .about-content {
    display: flex;
  }
  .about-content img {
    width: 40%;
    height: 100px;
  }
  .about-content p {
    display: none;
  }
  .about-content h3 {
    text-align: center;
    margin-left: 10px;
    font-size: 1.4rem;
  }
}

.newsletter-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  padding: 100px;
}

.newsletter-card p {
  color: white;
}

.newsletter-card h1 {
  color: white;
}

.input-box {
  position: relative;
}

.input-box input {
  margin-top: 15px;
  width: 400px;
  padding: 24px 30px;
  border-radius: 8px;
  text-align: start;
}

.input-box button {
  position: absolute;
  right: 15px;
  top: 30%;
  padding: 15px;
  border-radius: 8px;
  background-color: gold;
  cursor: pointer;
}

.input-box button:hover {
  box-shadow: -18px 35px 132px 1px rgba(255, 224, 0, 0.81);
  -webkit-box-shadow: -18px 35px 132px 1px rgba(255, 224, 0, 0.81);
  -moz-box-shadow: -18px 35px 132px 1px rgba(255, 224, 0, 0.81);
}

@media (max-width: 480px) {
  .newsletter-card {
    padding: 0;
  }
  .input-box input {
    width: 300px;
  }
  .input-box button {
    position: static;
    margin-top: 10px;
    width: 200px;
    text-align: center;
  }
}
